USE [master]
GO
/****** Object:  Database [STAGING_DB]    Script Date: 22/04/2026 17:07:35 ******/
CREATE DATABASE [STAGING_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STAGING_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\STAGING_DB.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STAGING_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\STAGING_DB_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STAGING_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STAGING_DB]
GO

/****** Object:  Table [dbo].[stg_airline_satisfaction]    Script Date: 22/04/2026 17:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_airline_satisfaction](
	[ID] [int] NULL,
	[Gender] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[CustomerType] [nvarchar](50) NULL,
	[TypeOfTravel] [nvarchar](50) NULL,
	[Class] [nvarchar](50) NULL,
	[FlightDistance] [int] NULL,
	[DepartureDelay] [int] NULL,
	[ArrivalDelay] [int] NULL,
	[DepartureArrivalTimeConvenience] [int] NULL,
	[EaseOfOnlineBooking] [int] NULL,
	[CheckInService] [int] NULL,
	[OnlineBoarding] [int] NULL,
	[GateLocation] [int] NULL,
	[OnBoardService] [int] NULL,
	[SeatComfort] [int] NULL,
	[LegRoomService] [int] NULL,
	[Cleanliness] [int] NULL,
	[FoodAndDrink] [int] NULL,
	[InFlightService] [int] NULL,
	[InFlightWifiService] [int] NULL,
	[InFlightEntertainment] [int] NULL,
	[BaggageHandling] [int] NULL,
	[Satisfaction] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_customer_loyalty]    Script Date: 22/04/2026 17:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_customer_loyalty](
	[LoyaltyNumber] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Gender] [nvarchar](20) NULL,
	[Education] [nvarchar](50) NULL,
	[Salary] [int] NULL,
	[MaritalStatus] [nvarchar](50) NULL,
	[LoyaltyCard] [nvarchar](50) NULL,
	[CLV] [nvarchar](50) NULL,
	[EnrollmentType] [nvarchar](50) NULL,
	[EnrollmentYear] [nvarchar](50) NULL,
	[EnrollmentMonth] [nvarchar](50) NULL,
	[CancellationYear] [nvarchar](50) NULL,
	[CancellationMonth] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_date]    Script Date: 22/04/2026 17:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_date](
	[Date] [date] NULL,
	[StartOfYear] [date] NULL,
	[StartOfQuarter] [date] NULL,
	[StartOfMonth] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stg_loyalty]    Script Date: 22/04/2026 17:07:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stg_loyalty](
	[LoyaltyNumber] [int] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[TotalFlights] [int] NULL,
	[Distance] [int] NULL,
	[PointsAccumulated] [int] NULL,
	[PointsRedeemed] [int] NULL,
	[DollarCostPointsRedeemed] [decimal](10, 2) NULL
) ON [PRIMARY]
GO
USE [master]
GO
